{% extends 'trivia_app/base_template.html' %}

{% block content %}
    <h1>Card Deck List</h1>
    {% if carddeck_list %}
    <ul>
        {% for carddeck in carddeck_list %}
        
        <li class="card_ul_li">
            <!--<a href="{{ carddeck.get_absolute_url }}">{{carddeck.title }}</a>  -->
            <li class="list-group-item"><strong>Title: {{carddeck.title}}</strong>
                <li class="card_ul_li">
                    <p><strong>Description: </strong>{{ carddeck.description }}</p>
                    <td><a href="{% url "carddeck-detail" carddeck.id %}">View</a></td>
                    
                    {% if user.is_authenticated %}
                        <td><a href="{% url "edit_carddeck" carddeck.id %}">Edit</a></td>
                        <td><a href="{% url "delete_carddeck" carddeck.id %}">Delete</a></td>                        
                    {% else %}
                        <p>Log in to make changes.</hp>
                        <a href="{% url 'login' %}">Log In</a>
                    {% endif %} 

                </li>
                <li class="card_ul_li">
                    <img src="{{carddeck.image}}">
                </li>
                <li class="card_ul_li">
                    <a class="btn btn-primary" href="{{ carddeck.get_absolute_url }}" role="button">Play</a>
                </li>
                <li class="card_ul_li">
                    <p></p>
                </li>
            </li>  
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>There are no card decks created.</p>
    {% endif %}
{% endblock %}
