{% extends 'trivia_app/base_template.html' %}

{% block content %}
    <h1>Card Deck: {{ carddeck.title }}</h1>

    <p><strong>Author: </strong> {{ carddeck.user.name }}</p>
    <p><strong>Active: </strong> {{ carddeck.is_active }}</p>
    <p><strong>Description: </strong> {{ carddeck.description }}</p>
    
    <!-- Maybe pass query results into here for cards with matching carddeck 
        and link to the first one? -->

    <h2>Cards:</h2>
    {% if card_list %}
    <ul>
        {% for card in card_list%}
            {% if card.carddeck == carddeck %}    
        
                <h3>{{ card.title }}</h3>

                <img src="{{card.carddeck.image.url}}" alt="{{ card.carddeck.title }}">
            
                <h4><strong>Question: </strong> {{ card.question }}</h4>
                <ul> 
                    <!--Maybe give list of buttons or link one to the next?-->
                
                    <li class="card_ul_li">
                        <div class="btn btn-primary" role="button" onclick="feedback({{ card.correct_option }}, {{ card.option_1 }})" id="popuptester_1">A: {{card.option_1}} 
                        </div>
                    </li>
                    <li class="card_ul_li">
                        <div class="btn btn-primary" role="button" onclick="feedback({{card.correct_option}}, {{card.option_2}})" id="popuptester_2">B: {{card.option_2}} 
                        </div>
                    </li>
                    <li class="card_ul_li">
                        <div class="btn btn-primary" role="button" onclick="feedback({{card.correct_option}}, {{card.option_3}})" id="popuptester_3">C: {{card.option_3}} 
                        </div>
                    </li>
                    <li class="card_ul_li">
                        <div class="btn btn-primary" role="button" onclick="feedback({{card.correct_option}}, {{card.option_4}})" id="popuptester_4">D: {{card.option_4}} 
                        </div>
                    </li>
                    <li class="card_ul_li"><h3> </h3></li>
                </ul>
            {% endif %}
        {% endfor %}
    </ul>
    {% else %}
    <p>There are no cards in this Card Deck.</p>
    {% endif %}
{% endblock %}