{% extends 'trivia_app/base_template.html' %}

{% block content %}
    <h1>Card Deck Title: {{ carddeck.title }}</h1>

    <p><strong>Author: </strong> {{ carddeck.author }}</p>
    <p><strong>Active: </strong> {{ carddeck.is_active }}</p>
    <p><strong>Description: </strong> {{ carddeck.description }}</p>
    
    <h2>Cards:</h2>
    {% if card_list %}
    <ul>
        {% for card in card_list %}
        <li>
            <a href="{{ card.get_absolute_url }}">{{ card.title }}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>There are no cards in this Card Deck.</p>
    {% endif %}
{% endblock %}