<!-- inherit from base.html-->
{% extends "trivia_app/base_template.html" %}
<!-- Replace block content in base_template.html -->
    {% block content %}
    {% if user.is_authenticated %}
        <h3>Hello, {{ user.username }}! </h3>
        <p><a href="{% url 'logout' %}">Log Out</a></p>
    {% else %}
        <h3>Hi, you are not logged in.</h3>
        <a href="{% url 'login' %}">Log In</a>
    {% endif %}    
    
    <h1>All Active Card Decks</h1>
        <ul class="list-group">
            {% if carddeck_list %}
            
                {% for carddeck in carddeck_list %}
                    {% if carddeck.is_active %}    
                        <li class="list-group">
                            <li class="card_ul_li">
                                <img src="{{ carddeck.image.url }}" alt="{{ card.carddeck.title }}">
                            </li>  
                            <li class="card_ul_li"> 
                                <a class="btn btn-primary" href="{{ carddeck.get_absolute_url }}" role="button">Play {{carddeck.title}} trivia!</a>
                            </li>
                            <li class="card_ul_li">              
                                <p>Description: {{ carddeck.description }}</p>
                            </li>
                            
                        </li>
                    {% endif %}
                {% endfor %}
            {%  else  %}
                <p>Carddeck_list missing in index.html</p>
            {% endif %}  
        </ul>
    {% endblock %}
