<!-- inherit from base.html-->
{% extends "trivia_app/base_template.html" %}
<!-- Replace block content in base_template.html -->
    {% block content %}
        <h1>All Active Card Decks</h1>
        <ul class="list-group">
            {% if carddeck_list %}
            
                {% for carddeck in carddeck_list %}
                    <li class="list-group-item"><strong>Title: {{carddeck.title}}</strong>
                        <p>Description: {{ carddeck.description }}</p>
                        <p>Author: {{ carddeck.user.name }}</p>
                        <a class="btn btn-primary" href="{{ carddeck.get_absolute_url }}" role="button">Play</a>
                    </li>
                {% endfor %}
            {%  else  %}
                <p>Carddeck_list missing in index.html</p>
            {% endif %}  
        </ul>
    {% endblock %}
