{% extends 'trivia_app/base_template.html' %}

{% block content %}
    <h1>User: {{ user.name }}</h1>

    <p><strong>About: </strong> {{ user.about }}</p>
    <p><strong>Contact email: </strong> {{ user.contact_email }}</p>
    
    <!--Might need to fix this, replace with something else to get carddecks to properly appear-->
    <p><strong>Card Decks:<a href="{{ user.carddeck.get_absolute_url }}">{{ carddeck.user.name }} </a></strong></p>
    
<!--
    {% if user.carddeck_list %}
    <ul>
        {% for carddeck in carddeck_list %}
        <li>
            <a href="{{ carddeck.get_absolute_url }}">{{carddeck.title }}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>User has no card decks.</p>
    {% endif %}
-->


{% endblock %}
